/* menus.css */
.menu a {
    color: #ccc;
    text-decoration: none;
    padding: 8px 10px 8px 24px;
    display: inline-block;
    font-weight: bold;
    font-size: 13px;
    background: url("../images/bckmenuli.png") no-repeat left center;
}

.menu a:first-child {
    background-image: none;
    padding-left: 6px;
}

.menu a:hover span {
    background-color: #0096FF;
    padding-bottom: 2px;
    display: inline-block;
}