body {
    margin: 0;
    font-family: Arial;
    background: url("../images/bck.png") repeat-x;
}

/* КОНТЕЙНЕР */
.wrapper {
    width: 64%;
    margin: 40px auto;
    background: white;
    padding: 20px;
    border-radius: 30px;
}

/* ШАПКА */
.top-bar {
    background: url("../images/bckheader.png") no-repeat;
    padding: 20px;
    background-size: auto;   
}

.logo {
    float: left;
    padding-left: 50px;
    font-size: 32px;
    font-weight: bold;
    color: white;
}

.search {
    float: right;
}

.search input {
    background: url("../images/bckheaderformtext.png") no-repeat;
    background-size: contain;
    border: none;
    padding: 6px 10px;
    height: 24px;
}

.search button {
    background: url("../images/bckheaderformbtn.png") no-repeat;
    border: none;
    width: 65px;
    height: 24px;
    cursor: pointer;
    }

/* МЕНЮ */
.menu {
    background: url("../images/bckmenu.png") no-repeat;
    padding: 15px;
    margin-top: 10px;
    background-size: cover;   
}

.menu a {
    color: white;
    text-decoration: none;
    margin-right: 20px;
    padding-left: 25px;
    background: url("../images/bckmenuli.png") no-repeat left center;
}

.menu a:hover {
    background-image: url("../images/bckmenuliahover.png");
}

.menu .active {
    font-weight: bold;
}

/* ОСНОВНОЙ БЛОК */
.main {
    overflow: hidden;
    margin-top: 20px;
}

/* КОНТЕНТ */
.content {
    float: left;
    width: 70%;
}

.post {
    background: url("../images/bckcontentpost.png") no-repeat 20px 10px;
    padding: 100px 20px 20px 50px;
    border: 2px dashed #ccc;
    border-radius: 30px;
    background-size: auto; 
}

/* САЙДБАР */
.sidebar {
    float: right;
    width: 27%;
    padding-left: 25px;    
}

.block h3 {
    background: url("../images/bcksidebarh3.png") no-repeat center;
    height: 40px;
    padding-top: 20px;
    text-align: center;
    margin-top: -10px;
    background-size: contain;
}

.block li {
    background: url("../images/bcksidebarlili.png") no-repeat left center;
    padding-left: 20px;
    margin-bottom: 8px;
}

/* стандартные маркеры списка */
.sidebar ul {
    list-style: none;
    padding-left: 0;
    margin-left: 0;
}

/* Ссылки в списке */
.sidebar ul li a {
    text-decoration: none;
    color: #333;
}

.sidebar ul li a:hover {
    color: #4a8cd8;
}


/* ФОРМА */
.input {
    width: 90%;
    padding: 6px;
    border: 1px solid #bbb;
    border-radius: 6px;
    transition: 0.2s;
}

.input:hover,
.input:focus {
    border-color: #66aaff;
    background: #eef6ff;
}

.small {
    width: 80px;
}

.btn {
    padding: 8px 16px;
    border: none;
    background: #4a8cd8;
    color: white;
    border-radius: 6px;
    cursor: pointer;
    transition: 0.2s;
}

.btn:hover {
    background: #000000;
}

/* ФУТЕР */
.footer {
    background: url("../images/bckfooter.png") no-repeat;
    height: 80px;
    text-align: center;
    padding: 20px;
    margin-top: 20px;
    color: white;
}
